.container-recipes
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
}
.recipe{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: auto;
}
.recipe-image{
    width: 300px;
    height:300px;
}
.title{
    /* font-family: 'Spicy Rice', cursive;
    font-family: 'Bree Serif', serif; */
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Patua One', cursive;
    font-family: 'Fredoka One', cursive; */
}
.card-text-content{
  width:150px;
}
