<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body style="margin-left:20px">
  <div class="container-recipes">
    <mat-card class="recipe" *ngFor="let recipe of recipes" >
      <mat-card-title>{{recipe.nume_reteta}}</mat-card-title>
      <mat-card-content >
        <div>{{recipe.descriere_reteta}}</div>
        <div>{{recipe.ingrediente_reteta}}</div>
        <div>{{recipe.mod_preparare}}</div>
        <div>{{recipe.numar_portii}}</div>
      </mat-card-content>
      <img mat-card-image src={{recipe.imagine_reteta}} alt="Not Found">
      <mat-card-subtitle><mat-icon>access_time</mat-icon>{{recipe.timp_preparare}}</mat-card-subtitle>
      <mat-icon>favourite_border</mat-icon>
    </mat-card>
  </div>

</body>

</html>
