.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.toolbar-container{
display:flex;
justify-content: space-between;
}
.toolbar-text{
  font-family: 'Spicy Rice', cursive;
  font-size:40px;
}
.a-item{
  color: black;
  margin-left:25px;
}
.a-container{
  display: flex;
  flex-direction: row;
}
