<mat-toolbar color="primary" class="toolbar-container">
  <span class="toolbar-text">Eat Smart</span>
  <div class="a-container">
    <a mat-icon-a mat-list-item routerLink="/home" class="a-item">
      <mat-icon>home</mat-icon>
      <strong>Home</strong>
    </a>
    <a mat-icon-a mat-list-item routerLink="/listQuestion" class="a-item">
      <mat-icon>dehaze</mat-icon>
      <strong>Formular</strong>
    </a>
    <a mat-icon-a mat-list-item routerLink="/recipes" class="a-item">
      <mat-icon>fastfood </mat-icon>
      <strong>Recipes</strong>
    </a>
  </div>

</mat-toolbar>
